.box-container {
  max-width: 900px;
  margin: 50px auto 0;
}

.box-container header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-container header h1 {
  font-size: 21px;
  /* padding-left: 15px; */
  padding: 0 15px;
  /* margin-left: 15px; */
  margin: 0 20px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.box-container .upload {
  border-radius: 4px;
  padding: 30px;
  text-align: center;
  border: 2px dashed #ddd;
  color: #999;
  margin-top: 50px;
  cursor: pointer;

  transition: height 0.2s ease;
}

.box-container .isDragActive {
  border-color: #78e5d5;
  color: #78e5d5;
}

.box-container .isDragReject {
  border-color: #e57878;
  color: #e57878;
}

.box-container ul {
  margin: 30px 0;
  list-style: none;
}

.notification {
  height: 80px;
  min-width: 300px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #cfe5ff;
  border: 1px solid #a5cff1;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.newFile {
  background: #cfe5ff;
  border-color: #a5cff1;
}

.deleteFile {
  background: #e57878;
  border-color: #ce4848;
}

.notification div strong {
  margin-left: 15px;
  font-size: 16px;
  color: #333;
}

.notification div p {
  margin-left: 15px;
  font-size: 14px;
  color: #333;
  margin-top: 5px;
}
